#TextAreaChatLog[data-colortheme="dark"],
#TextAreaChatLog[data-colortheme="dark2"] {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border-color: var(--elementBorder);
}

#TextAreaChatLog .ChatMessageName,
#TextAreaChatLog[data-colortheme="dark"] .ChatMessageName,
#TextAreaChatLog[data-colortheme="dark2"] .ChatMessageName {
  text-shadow: none;
}

textarea {
  background: var(--backgroundColor);
  color: var(--textColor);
  border: 1px solid var(--elementBorder);
}

input {
  background: var(--elementBackgroundColor);
  color: var(--textColor);
  border: 1px solid var(--elementBorder);
}

textarea:focus,
input:focus {
  outline: var(--elementBorder) solid 1px;
}

#FriendList {
  border-color: var(--elementBorder);
  background-color: var(--backgroundColor);
  padding: 0;
  margin-top: 1%;
  padding-bottom: 0%;
}

#TextAreaChatLog[data-colortheme="dark2"] .ChatMessage {
  border-bottom: none;
}

::-webkit-scrollbar {
  background-color: var(--scrollbar);
}
::-webkit-scrollbar-corner {
  background-color: var(--scrollbar);
}
::-webkit-scrollbar-thumb {
  background-color: var(--elementBackgroundHover);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--accentColor);
}
::selection {
  background-color: var(--accentColor);
  color: var(--textColor);
}
