#TextAreaChatLog[data-colortheme="dark"],
#TextAreaChatLog[data-colortheme="dark2"] {
  background-color: var(--background);
  color: var(--text);
  border-color: var(--elementBorder);
}

#TextAreaChatLog[data-colortheme="dark"]~#InputChat,
#TextAreaChatLog[data-colortheme="dark2"]~#InputChat {
  background-color: var(--background);
  color: var(--text);
  border-color: var(--elementBorder);
}

#TextAreaChatLog .ChatMessageName,
#TextAreaChatLog[data-colortheme="dark"] .ChatMessageName,
#TextAreaChatLog[data-colortheme="dark2"] .ChatMessageName {
  text-shadow: 0 0 0.12em var(--textShadow);
}

#TextAreaChatLog[data-colortheme="dark2"] .ChatMessage {
  border-bottom: none;
}
