#fusam-addon-manager-container {
  color: var(--text);
  background-color: var(--background);
}

.fusam.button,
.fusam .button {
  border-color: var(--elementBorder);
  background-color: var(--elementBackground);
  color: var(--text);
}

.fusam.button:hover,
.fusam .button:hover,
.fusam.button:focus,
.fusam .button:focus,
.fusam select:hover,
.fusam select:focus {
  background-color: var(--accent);
}

.fusam select,
.fusam option {
  border-color: var(--elementBorder);
  background-color: var(--elementBackground);
  color: var(--text);
}

.fusam select:disabled:hover {
  background-color: var(--elementBackgroundHover);
}
