.MessageBold {
  font-weight: bold;
}

.MessageItalic {
  font-style: italic;
}

.MessageUnderlined {
  text-decoration: underline;
}

.MessageStrikethrough {
  text-decoration: line-through;
}

#TextAreaChatLog {
  a {
    color: #003f91;
    cursor: pointer;
  }

  a:visited {
    color: #380091;
  }
}

.MessageCode {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 0.85em;
  white-space: break-spaces;
  background-color: var(--codeBackground);
  border-radius: 5px;
}
