.tts-dialog {
  background-color: var(--backgroundColor);
  border: 2px solid var(--elementBorder);
  color: var(--textColor);
}

.tts-option {
  background-color: var(--elementBackgroundColor);
  border-color: var(--elementBorder);
  color: var(--textColor);
}

input[type="range"].tts-slider {
  background-color: var(--elementBackgroundColor);
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  border-radius: 50px;
}

input[type="range"].tts-slider::-webkit-slider-thumb {
  background: var(--accentColor);
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"].tts-slider::-moz-range-thumb {
  background: var(--accentColor);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.tts-select {
  background-color: var(--elementBackgroundColor);
  border-color: var(--elementBorder);
  color: var(--textColor);
}

.tts-tab {
  background-color: var(--elementBackgroundColor);
  border-color: var(--elementBorder);
  color: var(--textColor);
}

.tts-btn {
  background-color: var(--elementBackgroundColor);
  border: 1px solid var(--elementBorder);
  color: var(--textColor);
}

.tts-tab.active {
  background-color: var(--accentColor);
}

.tts-toggle-container {
  border-color: var(--elementBorder);
}

.tts-boxed-container {
  border-color: var(--elementBorder);
}

.tts-link {
  border-color: var(--elementBorder);
  background-color: var(--elementBackgroundColor);
  color: var(--textColor);
}

.tts-link:hover {
  background-color: var(--elementBackgroundColor);
  color: var(--accentColor);
}

.mo-modal-content {
  background-color: var(--backgroundColor);
  border: 1px solid var(--elementBorder);
  color: var(--textColor);
}

.mo-closer {
  color: var(--textColor);
}

#mo_submitInput-1 {
  background-color: var(--elementBackgroundColor);
  border: 1px solid var(--elementBorder);
  color: var(--textColor);
}
