textarea {
  background: var(--elementBackground);
  color: var(--text);
  border: 2px solid var(--elementBorder);
}

input {
  background: var(--elementBackground);
  color: var(--text);
  border: 2px solid var(--elementBorder);
}

textarea:focus,
input:focus {
  outline: var(--elementBorder) solid 1px;
}

.button-touch,
.button-touch:before,
.button:hover {
  background-color: var(--elementBackgroundHover);
  border-color: var(--elementBorderHover);
  color: var(--text);
}
