#TextAreaChatLog[data-colortheme="light"],
#TextAreaChatLog[data-colortheme="light2"],
#TextAreaChatLog[data-colortheme="dark"],
#TextAreaChatLog[data-colortheme="dark2"] {
  background-color: var(--tmd-main);
  color: var(--tmd-text);
  border: var(--tmd-accent) solid min(0.2dvh, 0.1dvw);

  &:has(.chat-room-sep) {
    border-top: none;
  }

  .ChatMessageName {
    text-shadow: 0 0 0.12em var(--label-color);
    transition: color 0.1s ease-in-out;
  }

  .ChatMessageName:hover {
    color: var(--tmd-text);
  }

  .ChatMessage {
    border-bottom: none;
  }

  .ChatMessageActivity,
  .ChatMessageAction,
  .ChatMessageEmote,
  .ChatMessageLocalMessage {
    --base-color: var(--tmd-main);
    color: var(--tmd-text);
    color: color-mix(in srgb, var(--tmd-text) 50%, gray 50%);

    &::before,
    &::after {
      color: var(--tmd-text);
    }
  }

  .chat-room-sep {
    --base-color: var(--tmd-main) !important;
    border-bottom: min(0.2dvh, 0.1dvw) var(--tmd-accent) solid !important;
    border-top: min(0.2dvh, 0.1dvw) var(--tmd-accent) solid !important;
  }

  .chat-room-sep-collapse {
    border-right: min(0.2dvh, 0.1dvw) var(--tmd-accent) solid !important;
    color: var(--tmd-text);
  }

  .chat-room-sep-header:hover,
  .chat-room-sep-collapse:hover {
    color: color-mix(in srgb, var(--tmd-text) 80%, var(--tmd-accent) 80%);
  }

  .chat-room-sep-div>.button:active,
  .chat-room-sep-div>.button[data-active] {
    color: color-mix(in srgb, var(--tmd-text) 50%, var(--tmd-accent) 100%);
  }

  .chat-room-sep-header {
    color: var(--tmd-text);
  }

  ~#chat-room-bot,
  ~#chat-room-reply-indicator {
    --button-color: var(--tmd-element);
    background-color: var(--tmd-main);
    border-color: rgba(0, 0, 0, 0.25);
    color: var(--tmd-text);
    border: var(--tmd-accent) solid min(0.2dvh, 0.1dvw);
  }

  ~#chat-room-reply-indicator {
    border-bottom: none;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;

    & #chat-room-reply-indicator-text {
      border-right: var(--tmd-accent) solid min(0.2dvh, 0.1dvw);
    }
  }

  ~#chat-room-bot {
    &:has(#InputChat:focus) {
      outline: 2px solid var(--tmd-element-hover);
      box-shadow: 0 0 0 3px var(--tmd-main);
    }

    #InputChat {
      background-color: var(--tmd-main);
      color: var(--tmd-text);
      border-color: none;
      outline: none;
    }

    #chat-room-buttons-div {
      border-left-color: var(--tmd-accent);
    }

    #chat-room-buttons-collapse:hover,
    .chat-room-button:hover:before {
      background-color: var(--tmd-accent-hover);
    }

    .chat-room-button:before {
      background-color: var(--tmd-accent);
    }
  }
}
