#fusam-addon-manager-container {
  color: var(--text);
  background-color: color-mix(in srgb, var(--main) 80%, rgba(0, 0, 0, 0.8) 100%);
}

.fusam.button,
.fusam .button {
  border-color: var(--accent);
  background-color: var(--element);
  color: var(--text);
}

.fusam.button:hover,
.fusam .button:hover,
.fusam.button:focus,
.fusam .button:focus,
.fusam select:hover,
.fusam select:focus {
  background-color: var(--accent);
}

.fusam select,
.fusam option {
  border-color: var(--accent);
  background-color: var(--element);
  color: var(--text);
}

.fusam select:disabled:hover {
  background-color: var(--elementDisabled);
}
