body {
  --fusam-text: var(--tmd-text);
  --fusam-text-placeholder: var(--tmd-accent);
  --fusam-main: var(--tmd-main);
  --fusam-inset-element: var(--tmd-main);
  --fusam-element: var(--tmd-element);
  --fusam-border: var(--tmd-accent);
}

body[data-tmd-theme-type="dark"] {
  --icon-filter: invert(1);
}

body[data-tmd-theme-type="light"] {
  --icon-filter: none;
}