textarea {
  background: var(--element);
  color: var(--text);
  border: 2px solid var(--accent);
}

input {
  background: var(--element);
  color: var(--text);
  border: 2px solid var(--accent);
}

textarea:focus,
input:focus {
  outline: var(--accent) solid 1px;
}

.button {
  --button-color: var(--element);
  --disabled-color: var(--elementDisabled);
  --hover-color: var(--elementHover);
}

.button-styling {
  border-color: var(--accent);
}

.button-styling:hover {
  border-color: var(--accentHover);
}

.button-tooltip {
  background-color: var(--elementHint);
  color: var(--text);
  border-color: var(--accent);
}
