::-webkit-scrollbar {
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
  background-color: var(--element);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}
