:root {
  --scrollbar-track: var(--element);
  --scrollbar-thumb: var(--accent);
  --scrollbar-thumb-hover: var(--accentHover);
  --scrollbar-corner: var(--element);
}

* {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
  border: 2px solid var(--scrollbar-track);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-corner);
}

::-moz-scrollbar {
  width: 10px;
  height: 10px;
}

::-moz-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-moz-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
  border: 2px solid var(--scrollbar-track);
}

::-moz-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

::-ms-scrollbar {
  width: 10px;
  height: 10px;
}

::-ms-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-ms-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
  border: 2px solid var(--scrollbar-track);
}

::-ms-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
