.themed-modal,
.themed-chat-modal {
  padding: 5px;

  background-color: var(--element);
  color: var(--text);

  border: 2px solid var(--accent);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.themed-modal {
  position: absolute;
  width: 25%;
  top: 15%;
  margin-left: 12.5%;

  flex-direction: column;
}

.themed-chat-modal {
  font-size: 0.8em;
  position: relative;

  flex-direction: row;
}

#modal-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5rem;
}

.modal-button {
  width: auto;
  padding: 5px;

  border: 2px solid var(--accent);
  border-radius: 10px;
  transition: all 0.5s ease;
}

.modal-button:hover {
  background-color: var(--elementHover);
  text-shadow: 0 0 0.12em var(--textShadow);
  cursor: pointer;
}

.tmd-color-picker:disabled {
  border: var(--blocked) solid 2px;
  cursor: not-allowed;
}

.ThemedMessageContent {
  display: inline;
}

.ThemedVersion {
  font-weight: bold;
  color: rgb(203, 185, 23);
}

#TextAreaChatLog[data-colortheme='dark'] div.ChatMessage.ThemedMessage,
#TextAreaChatLog[data-colortheme='dark2'] div.ChatMessage.ThemedMessage {
  background-color: var(--element);
  border: 2px solid var(--accent);
  color: var(--text);
}

#TextAreaChatLog div.ChatMessage.ThemedMessage {
  background-color: #eee;
  border: 2px solid #440171;
  padding-left: 5px;
  display: block;
  white-space: normal;
  color: #111;
}

#TextAreaChatLog[data-colortheme='dark'] a.ThemedText,
#TextAreaChatLog[data-colortheme='dark2'] a.ThemedText {
  cursor: pointer;
  font-weight: bold;
  color: var(--text);
}

#TextAreaChatLog a.ThemedText {
  cursor: pointer;
  font-weight: bold;
  color: #111;
}

#ThemedGratitude {
  position: fixed;
  width: 25%;
  height: 50%;
  top: 15%;
  left: 50%;
}

.ThemedH {
  font-size: 1em;
  color: var(--text);
}

.ThemedP {
  font-size: 0.6em;
  color: var(--text);
  line-height: 1.5;
}

.ThemedP:last-child {
  font-size: 0.8em;
  color: color-mix(in srgb, var(--accentHover) 50%, var(--text) 50%);
}
