.tts-dialog {
  background-color: var(--background);
  border: 2px solid var(--elementBorder);
  color: var(--text);
}

.tts-option {
  background-color: var(--elementBackground);
  border-color: var(--elementBorder);
  color: var(--text);
}

input[type="range"].tts-slider {
  background-color: var(--elementBackground);
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  border-radius: 50px;
}

input[type="range"].tts-slider::-webkit-slider-thumb {
  background: var(--accent);
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"].tts-slider::-moz-range-thumb {
  background: var(--accent);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.tts-select {
  background-color: var(--elementBackground);
  border-color: var(--elementBorder);
  color: var(--text);
}

.tts-tab {
  background-color: var(--elementBackground);
  border-color: var(--elementBorder);
  color: var(--text);
}

.tts-btn {
  background-color: var(--elementBackground);
  border: 1px solid var(--elementBorder);
  color: var(--text);
}

.tts-tab.active {
  background-color: var(--accent);
}

.tts-toggle-container {
  border-color: var(--elementBorder);
}

.tts-boxed-container {
  border-color: var(--elementBorder);
}

.tts-link {
  border-color: var(--elementBorder);
  background-color: var(--elementBackground);
  color: var(--text);
}

.tts-link:hover {
  background-color: var(--elementBackground);
  color: var(--accent);
}

.mo-modal-content {
  background-color: var(--background);
  border: 1px solid var(--elementBorder);
  color: var(--text);
}

.mo-closer {
  color: var(--text);
}

#mo_submitInput-1 {
  background-color: var(--elementBackground);
  border: 1px solid var(--elementBorder);
  color: var(--text);
}
